.links {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.links img {
  height: 50px;
  margin: auto;
}

.links h2 {
  font-weight: bold;
}

.user {
  font-size: 22px;
}

.user img {
  height: 125px;
  width: 125px;
  border-radius: 50%;
}
