.user {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user img {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  object-fit: cover;
}

.user h3,
.user p {
  margin: 7px 0;
}
