.franga-central {
  display: grid;
  height: 100vh;
  align-items: center;
  justify-content: center;
  width: 100vh;
}

.img-box {
}

.login-box {
  justify-content: center;
  /* height: 14vh; */
  width: 75vh;
  display: flex;
  padding-bottom: 250px;
}

.franga-central .login-box {
}

.user {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.user img {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  object-fit: cover;
}

.user h3,
.user p {
  margin: 7px 0;
}

.franga-central .info {
  text-align: center;
  margin-bottom: -30px;
}
.franga-central .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.franga-central .info span {
  color: #000000;
  text-decoration: none;
}
.franga-central .info span .fa {
  color: #ef3b3a;
}
