.contenedor-cliente {
}

.content-search {
  width: 100%;
  display: flex;
  /* justify-content: center; */
  padding: 0 11rem;
}

.container-2 {
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-2 input#search {
  width: 50px;
  height: 40px;
  background: #2b303b;
  border: none;
  font-size: 14pt;
  float: left;
  color: #262626;
  padding-left: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;

  -webkit-transition: width 0.55s ease;
  -moz-transition: width 0.55s ease;
  -ms-transition: width 0.55s ease;
  -o-transition: width 0.55s ease;
  transition: width 0.55s ease;
}

.container-2 input#search::-webkit-input-placeholder {
  color: #65737e;
}

.container-2 input#search:-moz-placeholder {
  /* Firefox 18- */
  color: #65737e;
}

.container-2 input#search::-moz-placeholder {
  /* Firefox 19+ */
  color: #65737e;
}

.container-2 input#search:-ms-input-placeholder {
  color: #65737e;
}

.container-2 .icon {
  position: absolute;
  top: 50%;
  margin-left: 12px;
  margin-top: 5px;
  z-index: 1;
  color: #4f5b66;
}

.container-2 img {
  height: 30px;
}

.container-2 input#search:focus,
.container-2 input#search:active {
  outline: none;
  width: 300px;
}

.container-2:hover input#search {
  width: 300px;
}

.container-2:hover .icon {
  color: #93a2ad;
}

/* Tabla responsive */

/* Etiquetas para entradas marcadas */
#radio {
  margin-top: 5px;
}

.content-tabla {
  margin: 4rem 4rem 8rem;
  padding: 2rem;
  background: white;
  border-radius: 15px;
  font-size: 18px;
}

.table-responsive {
  overflow-y: scroll;
  height: 59vh;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.table-responsive::-webkit-scrollbar {
  -webkit-appearance: none;
}

.table-responsive::-webkit-scrollbar:vertical {
  width: 10px;
}

.table-responsive::-webkit-scrollbar-button:increment,
.table-responsive::-webkit-scrollbar-button {
  display: none;
}

.table-responsive::-webkit-scrollbar:horizontal {
  height: 10px;
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.table-responsive::-webkit-scrollbar-track {
  border-radius: 10px;
}

table.rwd_auto {
  width: 100%;
}
.width200 th,
.rwd_auto th {
  background: #ccc;
  padding: 5px;
  text-align: center;
}
.width200 td,
.rwd_auto td {
  border-bottom: 1px solid #ccc;
  padding: 5px;
  text-align: center;
}
.width200 tr:last-child td,
.rwd_auto tr:last-child td {
  border: 0;
}

.rwd {
  width: 100%;
  overflow: auto;
}
.rwd table.rwd_auto {
  width: auto;
  min-width: 100%;
}
.rwd_auto th,
.rwd_auto td {
  white-space: nowrap;
}

@media only screen and (max-width: 760px),
  (min-width: 768px) and (max-width: 1024px) {
  table.width200,
  .width200 thead,
  .width200 tbody,
  .width200 th,
  .width200 td,
  .width200 tr {
    display: block;
  }

  .width200 thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .width200 tr {
    border: 1px solid #ccc;
  }

  .width200 td {
    border: none;
    border-bottom: 1px solid #ccc;
    position: relative;
    padding-left: 50%;
    text-align: left;
  }

  .width200 td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  .width200 td:nth-of-type(1):before {
    content: "Nombre";
  }
  .width200 td:nth-of-type(2):before {
    content: "Apellidos";
  }
  .width200 td:nth-of-type(3):before {
    content: "Cargo";
  }
  .width200 td:nth-of-type(4):before {
    content: "Twitter";
  }
  .width200 td:nth-of-type(5):before {
    content: "ID";
  }

  .descarto {
    display: none;
  }
  .fontsize {
    font-size: 10px;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  body {
    width: 320px;
  }
  .descarto {
    display: none;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    width: 495px;
  }
  .descarto {
    display: none;
  }
  .fontsize {
    font-size: 10px;
  }
}

.botn-cerrar {
  position: absolute;
  top: 0px;
  right: 15px;
}

.redondear {
  border-radius: 25px;
  width: 47px;
  font-size: 15px;
  cursor: pointer;
}

/* Formulario nuevo cliente*/

.formulario-nuevo-cliente {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 60px;
}
.formulario-nuevo-cliente .input-text {
  width: 100%;
  border-radius: 3px;
  height: 45px;
  line-height: 45px;
  padding: 0 40px 0 10px;
  transition: 0.3s ease all;
  border: 3px solid transparent;
  background-color: var(--gris1);
}
.formulario-nuevo-cliente .input-text:focus {
  border: 3px solid var(--borde);
  outline: none;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario-nuevo-cliente .validacion-input-incorrecto {
  border: 3px solid var(--error) !important;
}

.formulario-nuevo-cliente .validacion-input-correcto {
  border: 3px solid transparent;
}

.contenedor-form-cliente {
  padding: 5rem 3rem;
  background-color: var(--blanco);
  border-radius: 1rem;
  position: relative;
  width: 50vw;
}

.contenedor-form-cliente h1 {
  margin: 0px;
}

.campo-form-cliente {
  font-size: 20px;
}

.campo-form-cliente label {
  display: block;
  font-weight: 700;
  padding: 10px;
  min-height: 40px;
  cursor: pointer;
}

.validacion-label-incorrecto {
  color: var(--error);
}

.grup-cliente {
  position: relative;
  z-index: 90;
}

.leyenda-error {
  font-size: 12px;
  margin-bottom: 0;
  color: var(--error);
  display: none;
}

.leyenda-error-correcto {
  display: none !important;
}
.leyenda-error-incorrecto {
  display: block !important;
  font-size: 16px;
}

.grup-cliente img {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 100;
  font-size: 16px;
  opacity: 0;
}

.validacion-img-correcto,
.validacion-img-incorrecto {
  opacity: 1 !important;
}

.boton-centrado {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: span 2;
  font-size: 18px;
}

.exito {
  font-size: 14px;
  color: var(--exito);
}

.errorM {
  height: 45px;
  line-height: 45px;
  background: #f66060;
  padding: 0px 15px;
  border-radius: 3px;
  grid-column: span 2;
  font-size: 14px;
}

.errorM p {
  display: flex;
  justify-content: center;
  margin: 0px;
}

.errorM b {
  margin: 0 10px;
}

@media (max-width: 800px) {
  .formulario-nuevo-cliente {
    grid-template-columns: 1fr;
  }
}
